# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# arquivos
destination-mars.html
destination-moon.html
destination-titan.html

crew-commander.html
crew-engineer.html
crew-pilot.html
crew-specialist.html


technology-capsule.html
technology-vehicle.html
technology-spaceport.html